:root {
  --green: #223b2d;
  --white: #FFFFFF;
  --black: #000000;
  --gray : #808285;
  --light-gray : #f4f4f4;
  --beige-clair: #F7ECDE;
  --beige-fonce : #B19066;
  --overlay : 28, 26, 29;
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
 
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #f8f8f8!important
}

.hidden{
  display: none;
}

a{
  text-decoration: none!important;
  color: inherit!important; 
}

.pointer:hover{
  cursor:pointer;
}

.bloc-separate{
  background-color: var(--beige-fonce);
  height: 10px;
}

.separator-top{
  width: 100%;
  margin-top: 100px;
}

.separator-bottom{
  width: 100%;
}

.bg-green{
  background-color: var(--green);
}

#imgLogo 
{
   height:100px;
   margin:0 auto;
   -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
   -ms-transition: all 0.8s;
   -o-transition: all 0.8s;
   transition: all 0.8s;
}

#imgLogoTitle
{
    padding-top: 40px;
   -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
   -ms-transition: all 0.8s;
   -o-transition: all 0.8s;
   transition: all 0.8s;
}

.shrink 
{
  height:0px!important;
}

.img-title-mobile{
  padding-top : 10px!important;
}

/*****************************************************/
/* TITLES */
/*****************************************************/

.title{
  color: var(--green);
  font-size: 2.5em;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Tahu!', sans-serif;
}

.title-mobile{
  color: var(--green);
  font-family: 'Tahu!', sans-serif;
  font-size: 1.7em;
}

.title-section{
  color: var(--green);
  font-size: 4em;
  padding-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Tahu!', sans-serif;
}

.title-section-underline{
  width: 70px;
  border-bottom: 1px solid var(--green);
  margin : 0 auto;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.title-section-white{
  color: var(--white);
}

.title-section-underline-white{
  border-bottom: 1px solid var(--white);
}



/*****************************************************/
/* HOME */
/*****************************************************/

.home{
  height: 800px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/home.jpg");
  text-align: center;
  position: relative;
  /*box-shadow: inset 0px 50px 30px var(--white), inset 0px -50px 30px var(--white);*/
}

.home-overlay{
  width: 100%;
  height: 800px;
  background-color: rgba(var(--overlay, 28, 26, 29), 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.home-bloc-description{
  font-weight: lighter;
  width: 75%;
  border : 0px solid var(--green);
  /*background-color: rgba(255,255,255,.7);*/
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto!important;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
}

.home-description{
  color : var(--white);
  font-weight: lighter;
  font-size: 5em;
  font-family: 'Tahu!', sans-serif;
  padding-top: 70px;
  padding-bottom: 35px;
}

.home-subdescription{
  color : var(--white);
  font-size: 1.2em;
  font-weight: 300;
}


.home-btn-cta{
  border : 1px solid var(--white);
  color : var(--white);
  padding: 8px 20px;
  background-color: transparent;
}

.home-btn-cta:hover{
  background-color: rgba(0,0,0,.3);
}

.home-btn-cta-container{
  padding-top: 25px;
}


/*****************************************************/
/* PRESTATIONS */
/*****************************************************/


.container-prestation{
  color: var(--green);
  margin-top: 25px;
  margin-bottom: 50px;
}

.container-prestation-detail{
  padding: 15px;
  border : 1px solid var(--beige-fonce);
  min-height: 810px;
}

.subtitle-prestation{
  font-size: 2em;
  font-family: 'Tahu!', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.name-prestation{
  white-space: nowrap;
}

.underline-prestation{
  width: 100%;
  border-bottom: 1px solid var(--beige-fonce);
}

.price-prestation{
  text-align: right;
  min-width: 50px;
}

.detail-prestation{
  color : var(--beige-fonce);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 0.8em;
  text-align: justify;
}

/*****************************************************/
/* ABOUT ME */
/*****************************************************/

.container-aboutme{
 /* padding: 50px; */
 /*background-color: var(--green);*/
}

.container-content-aboutme{
 /* background-color : var(--green);*/
  /*border : 6px solid var(--white);*/
  /*background-image: url("../img/feuille.png");*/
  background-size: 25%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  /*background-repeat: no-repeat;*/
}


.picture-container-aboutme{
  text-align: center;
}

.picture-aboutme{
  /*border : 6px solid var(--white);*/
  margin-top: 40px;
}

.description-aboutme{
  text-align: center;
  color : var(--green);
  font-style: italic;
  margin-top: 40px;
}


/*****************************************************/
/* GIFT CARD */
/*****************************************************/


.soin{
  width: 100%;
  padding-top: 50px;
  text-align: center;
  color: var(--green);
}

.soin-container-img {
  position: relative;
  width: 100%; 
  height: 350px; 
  border : 6px solid var(--white);
  background-image: url("../img/soins.jpg");
}


.soin-detail-container {
  position: absolute;
  top: 320px; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 80%; 
  height: 180px; 
  background-color: var(--white);
  padding: 25px;
}

.soin-detail-showmore {
  position: absolute;
  top: 400px; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 80%; 
  height: 40px; 
  background-color: var(--beige-fonce);
  color: var(--white);
  padding: 8px;
}

.soin-title{
  font-family: 'Tahu!', sans-serif;
  font-size: 2.4em;
}

.soin-time{
  margin-top: 10px;
  font-size: 0.8em;
}

.soin-price{
  margin-top: 5px;
  font-size: 0.8em;
}


.container-giftcard{
  background-color: var(--green);
}

.sentence-giftcard{
  margin-top: 25px;
}

.sentence-giftcard-nb{
  font-size: 0.8em;
  margin-top: 50px;
  color : var(--green)
}


/*****************************************************/
/* CONTACT */
/*****************************************************/

.container-contact{
  text-align: center;
  padding-left : 13px;
  padding-right : 13px;
  padding-top : 50px;
  padding-bottom : 50px;
  color: var(--green);
}

.contact-container-description {
  position: relative;
  width: 100%; 
  min-height: 120px; 
  border : 1px solid var(--beige-fonce);
  padding : 25px;
  padding-top : 35px;
  margin-bottom: 60px;
  font-size: 0.8em;
}

.contact-container-description-horraires {
  position: relative;
  width: 100%; 
  min-height: 120px; 
  border : 1px solid var(--beige-fonce);
  padding : 25px;
  margin-bottom: 60px;
  font-size: 0.8em;
}


.contact-img {
  position: absolute;
  top: 0; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: auto; 
  height: auto; 
  background-color: var(--white);
  padding: 25px;
}

/*****************************************************/
/* SALON */
/*****************************************************/

.carousel{
  border : 6px solid var(--white)
}

/*****************************************************/
/* FOOTER */
/*****************************************************/


.container-footer{
  width: 100%; 
  text-align : center; 
  padding : 50px; 
  background-color: var(--green);
  color : var(--beige-clair);
}

.footer-img-social{
  border : 1px solid var(--beige-clair);
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.footer-mentions{
  font-size: 0.8em;
}

/*****************************************************/
/* NAV */
/*****************************************************/

.nav-logo{
  text-align: center;
  background-color: rgba(0,0,0,.7)!important;
  padding: 20px;
 /*border-bottom: solid 1px var(--beige);*/
}

.img-logo{
  border-radius: 100%;
  background-color: var(--beige-fonce); 
}

.navbar {
  background-color: rgba(0,0,0,.5)!important;
  /*box-shadow: 0 3px 6px 0 rgba(128,156,134,.2);*/
  z-index: 99;
  position : fixed;
  top: 0;
  color : var(--white);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: solid 1px var(--white);
}

.nav-item{
  padding-left: 10px;
  padding-right: 10px;
}

.fixed-top {
  top: -40px;
  /**transform: translateY(40px);
  transition: transform .3s;*/
}

.navbar-nav .nav-link {
  text-align: center!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  font-weight: 300;
  font-size: 14px;
}

.nav-link:hover {
  color : var(--beige-clair)!important;
}

.navbar-light .navbar-toggler {
  border : 0px!important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(128,156,134)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--green)
} 

.menu-underline {
  position: relative;
}


 /*
.menu-underline:before {
  content: "";
  position: absolute;
  display: block;
  width:  100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--light-gray);;
 transform: scaleX(0);
  transition: transform 0.3s ease;
}*/

.menu-underline:hover::before {
  background-color: var(--beige-fonce)
}

/*****************************************************/
/* RESPONSIVE */
/*****************************************************/

@media (max-width: 991px) {
  .navbar-brand{
    display: initial;
  }
  .navbar-nav .nav-link {
    padding: 15px!important;
  }
  .logo-full{
    display: none;
  }
  .anchor{
    display: block;
    height: 270px; 
    margin-top: -270px; 
    visibility: hidden;
  }
  .picture-aboutme{
    width: 80%;
  }
}

@media (min-width: 991px) {
  .navbar-brand{
    display: none;
  }
  .picture-aboutme{
    width: 60%;
  }
}




.parent {
  position: relative;
  width: 100%;
  height: 350px;
}

.child1 {
  position: absolute;

  height: 200px;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: red;
}

.child2 {
  z-index: 1;
  margin : 0 auto;
  margin-top: 150px;
  width: 50%;
  background: green;
}