/* light-pink : #f1d7ce*/
/* dark-pink : #f2abb4*/
/* light-yellow : #fcf5dd*/
/* ultra light pink #f8eae5 */

:root {
    --main-color: #7FBD8F;
    --white: #FDFFFF;
    --black: #565656;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--black);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--black);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--black);
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body{
  font-family: 'Ubuntu', sans-serif;
}


.hidden{
  display: none;
}

a{
  text-decoration: none!important;
  color: inherit!important; 
}

.pointer:hover{
  cursor:pointer;
}

.title{
  font-size: 4em;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Tahu!', sans-serif;
}
.title-black{
  color: var(--black);
}

.title-white{
  color: var(--white);
}


.bloc-separate{
  background-color: var(--main-color);
  height: 10px;
}

.bloc-color{
  background-color: var(--main-color);
  color :var(--white);
}

.bloc{
  padding-top: 120px;
  /*padding-bottom: 120px;*/
}

.institut-container{
  text-align: center;
 /* background-image: url("../img/logo-tr.png"); */
  background-position: top 150px left 0px;
  background-repeat: no-repeat;
}

.institut-sentence{
  padding : 20px;
}


.soin-container{
  padding: 20px;
  color : var(--black);
}

.soin{
  border: 0px solid  var(--white);
}

.soin-sentence{
  padding : 20px;
  text-align: center;
}

.feuille{
  background-image: url("../img/feuille.svg");
}

.flocon{
  background-image: url("../img/flocon3.svg");
}

.soin-details{
  padding: 30px;
  background-color:  var(--white);;
  min-height: 350px;
  background-size: 70%;
  background-position: bottom 10px right 10px;
  background-repeat: no-repeat;
  text-align: justify;
}

.soin-title{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

.soin-price-timming{
  text-align: center;
  padding-bottom: 15px;
}

.soin-description{
  padding-bottom: 15px;
  font-weight: lighter;
}

.soin-more-info{
  padding: 20px;
  text-align: center;
  bottom: 0;
}

.soin-btn-more-info{
  border : 1px solid var(--main-color);
  color : var(--main-color);
  padding: 8px 20px;
}

.soin-btn-more-info:hover{
  background-color: var(--white);
  cursor: pointer;
}

.soin-label{
  font-weight: normal;
  font-weight: bold;
}

.giftcard-container{
margin-bottom: 30px;
}

.giftcard-detail{
  height: 250px;
  color : var(--white);
  background-color : var(--black);
  margin-top : 20px;
}

.giftcard-label{
  padding-top: 50px;
  font-size: 1.1em;
}

.giftcard-description{
  text-align: center;
  padding-left: 20px!important;
  padding-right: 20px!important;
}


.giftcard-number{
font-size: 4em;
}

.find-container{
  height : 500px;
  margin: 15px;
  text-align: center;
}

.find-detail{
  margin-top: 50px;
  height: 250px;
  font-size: 1.1em;
  font-weight: lighter;
}

.find-waze-link{
  border : 1px solid var(--white);
  padding: 8px 20px;
}

.find-waze-link:hover{
  background-color :var(--white);
  color: var(--main-color);
}

.bloc-footer{
  background-color: var(--black);
  color :var(--white);
}

.container-footer{
  width: 100%; 
  text-align : left; 
  padding-bottom : 50px; 
}

.padding-top-30-px{
  padding-top: 30px;
}

.phone-container{
  border: 1px solid var(--white);
  padding: 8px 20px;
}

.phone-container:hover{
  background-color: var(--main-color);
  color :var(--white);
}
   




.contact-container{
  text-align: center;
  color: var(--black);
}

.contact-form{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.contact-btn{
  border : 1px solid var(--black);
  padding: 10px;
  background-color: var(--white);;
  width: 30%;
  border-radius: 0px!important;
  color: var(--black);
  margin : 0 auto;
}


.contact-btn:hover{
  background-color: var(--white);
  color : var(--main-color);
  border : 1px solid var(--main-color);
  cursor: pointer;
}

.contact-input{
  border : 1px solid var(--black);
  padding: 10px;
  background-color: var(--white);
  width: 100%;
  border-radius: 0px!important;
  color: var(--main-color);;
}



.navbar {
 background-color: rgba(0,0,0,.7)!important;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
  z-index: 99;
  position : fixed;
  color : var(--white);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.navbar-nav .nav-link {
   text-align: center!important;
   padding: 20px!important;
}


nav .navbar-nav li a{
  letter-spacing: 0px;
  font-weight: 200;
}

nav .navbar-nav li a:hover{
  color: var(--main-color)!important;
}

.navbar-light .navbar-toggler {
  margin-left: 10px!important;
  border : 0px solid var(--white)!important;
  border-radius: 0px!important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(241, 215, 206)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--white);
} 

.nav-container-logo{
  background-color: var(--main-color);
   height: 80px; 
   width: 170px;
   font-size: 3em;
   text-align: center;
}


.menu-underline {
  position: relative;
}

.menu-underline:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-underline:hover::before {
  transform: scaleX(1);
}



